body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
}
